<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org/">
  <head th:replace="fragments/base :: head"> </head>
  <body>
    <!-- header section starts  -->
    <header
      id="header none"
      class="header"
      th:replace="fragments/base :: header"
    ></header>
  <body>
    <div class="body ">
      <div class="container-login">
        <div class="card card-add">
          <div class="alert alert-danger" th:if="${param.error}" role="alert">
            Email ou mot de passe incorrect, veillez vérifier svp!
          </div>
          <form th:action="@{/login}" method="POST" class="form-signin form">
            <h2
              class="form-signin-heading text-center text-white"
              th:text="Bienvenue"
            ></h2>
            <div class="row">
              <div class="mb-3">
                <label for="" class="form-label">E-mail</label>
                <input
                  type="text"
                  class="form-control"
                  id="user_name"
                  name="user_name"
                  placeholder="saisir votre adresse email"
                  aria-describedby="helpId"
                />
                <small id="helpId" class="form-text text-muted"></small>
              </div>
            </div>
            <div class="row">
              <div class="mb-3">
                <label for="" class="form-label">Mot de passe</label>
                <input
                  type="password"
                  th:placeholder="Password"
                  id="password"
                  name="password"
                  class="form-control"
                  aria-describedby="helpId"
                />
                <small id="helpId" class="form-text text-muted"></small>
              </div>
            </div>

            <button
              class="btn-login"
              name="Submit"
              value="Login"
              
              type="Submit"
              th:text="Login"
            ></button>
          </form>
        </div>
      </div>
    </div>

    <!-- Bootstrap JavaScript Libraries -->
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
      integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
      crossorigin="anonymous"
    ></script>

    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"
      integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
