/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
/* line 5, ../../../../../../../../../../../var/lib/gems/3.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../../../var/lib/gems/3.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../../../var/lib/gems/3.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../../../var/lib/gems/3.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../../../var/lib/gems/3.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../../../var/lib/gems/3.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../../../var/lib/gems/3.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../../../var/lib/gems/3.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../../../var/lib/gems/3.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 4, ../sass/partials/_menu.scss */
body {
  margin: 0;
  font-family: Arial;
}

/* line 6, ../sass/partials/_menu.scss */
.topnav {
  overflow: hidden;
  background-color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  position: fixed;
  /* Set the navbar to fixed position */
  top: 0;
  /* Position the navbar at the top of the page */
  width: 100%;
  /* Full width */
}

@media only screen and (min-width: 768px) {
  /* line 16, ../sass/partials/_menu.scss */
  .topnav .logOut {
    float: right;
    margin-right: 1%;
  }
}
/* line 22, ../sass/partials/_menu.scss */
.topnav a {
  float: left;
  display: block;
  text-align: center;
  padding: 22px;
  text-decoration: none;
  font-size: 17px;
  color: #e04218;
}

/* line 31, ../sass/partials/_menu.scss */
.a {
  margin-top: 0.3%;
}

/* line 34, ../sass/partials/_menu.scss */
.topnav a:not(.active) {
  color: #e04218;
}

/* line 38, ../sass/partials/_menu.scss */
.active {
  background-color: #ff9409;
  color: white;
}

/* line 43, ../sass/partials/_menu.scss */
.topnav .icon {
  display: none;
}

/* line 47, ../sass/partials/_menu.scss */
.dropdown {
  float: left;
  overflow: hidden;
  margin-right: 2%;
  margin-top: 0.4%;
  background-color: #e04218;
}

/* line 55, ../sass/partials/_menu.scss */
.dropdown .dropbtn {
  font-size: 17px;
  border: none;
  outline: none;
  color: #e04218;
  padding: 14px 16px;
  font-family: inherit;
  margin: 0;
}

/* line 65, ../sass/partials/_menu.scss */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f2f0f0;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* line 74, ../sass/partials/_menu.scss */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* .topnav a:hover:not(.active), .dropdown:hover .dropbtn {
  background-color: $color2;
  color: white;
}
 */
/* line 88, ../sass/partials/_menu.scss */
.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

/* line 93, ../sass/partials/_menu.scss */
.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 600px) {
  /* line 98, ../sass/partials/_menu.scss */
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }

  /* line 101, ../sass/partials/_menu.scss */
  .topnav a.icon {
    float: right;
    display: block;
  }
}
@media screen and (max-width: 600px) {
  /* line 108, ../sass/partials/_menu.scss */
  .topnav.responsive {
    position: relative;
  }

  /* line 109, ../sass/partials/_menu.scss */
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  /* line 114, ../sass/partials/_menu.scss */
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  /* line 119, ../sass/partials/_menu.scss */
  .topnav.responsive .dropdown {
    float: none;
  }

  /* line 120, ../sass/partials/_menu.scss */
  .topnav.responsive .dropdown-content {
    position: relative;
  }

  /* line 121, ../sass/partials/_menu.scss */
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}
/* line 49, ../sass/partials/_burgerDesign.scss */
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  n: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}

/* $colorPrimary:#27ae60; */
/* line 80, ../sass/partials/_burgerDesign.scss */
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-size: 62.5%;
  scroll-padding-top: 8.5rem;
}
/* line 86, ../sass/partials/_burgerDesign.scss */
html::-webkit-scrollbar {
  width: 1rem;
}
/* line 90, ../sass/partials/_burgerDesign.scss */
html::-webkit-scrollbar-track {
  background: #000000;
}
/* line 94, ../sass/partials/_burgerDesign.scss */
html::-webkit-scrollbar-thumb {
  background: #FFD800;
  border-radius: 5rem;
}

/* line 99, ../sass/partials/_burgerDesign.scss */
body {
  background-color: #0D0B00;
}

/* line 102, ../sass/partials/_burgerDesign.scss */
section {
  padding: 2rem 9%;
}

/* line 106, ../sass/partials/_burgerDesign.scss */
.heading {
  text-align: center;
  padding-bottom: 2rem;
}
/* line 110, ../sass/partials/_burgerDesign.scss */
.heading span {
  font-family: "Satisfy", cursive;
  font-size: 3rem;
  color: #e04218;
  color: #FFD800;
}
/* line 115, ../sass/partials/_burgerDesign.scss */
.heading h3 {
  font-size: 3rem;
  color: #fff;
}

/* line 121, ../sass/partials/_burgerDesign.scss */
.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.7rem 1.8rem;
  font-size: 1.7rem;
  cursor: pointer;
  background: #000000;
  color: #FFD800;
  border: 2px solid #FFD800;
  border-radius: 0.5rem;
}
/* line 132, ../sass/partials/_burgerDesign.scss */
.btn:hover {
  color: #000000;
  background: #FFD800;
}

/* line 140, ../sass/partials/_burgerDesign.scss */
.btn-panier {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.5rem 1.8rem;
  font-size: 1.7rem;
  cursor: pointer;
  background: #000000;
  color: #FFD800;
  border: 2px solid #FFD800;
  border-radius: 0.5rem;
}
/* line 151, ../sass/partials/_burgerDesign.scss */
.btn-panier:hover {
  color: #000000;
  background: #FFD800;
}

/* line 159, ../sass/partials/_burgerDesign.scss */
.btn2 {
  background-color: #000000;
  color: #FFD800;
  border: 2px solid #FFD800;
  display: inline-block;
  margin-top: 1rem;
  padding: 5px;
  font-size: 1.7rem;
  border-radius: 5px;
}
/* line 168, ../sass/partials/_burgerDesign.scss */
.btn2:hover {
  color: #000000;
  background: #FFD800;
}

/* line 174, ../sass/partials/_burgerDesign.scss */
.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  /* background: $white;
  box-shadow: $box-shadow; */
  background: #000000;
  box-shadow: 21px -4px 145px rgba(159, 159, 159, 0.49);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 9%;
}
/* line 189, ../sass/partials/_burgerDesign.scss */
.header .number {
  position: absolute;
  top: 8px;
  background: #FFD800;
  color: #000000;
  border-radius: 5px;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
}
/* line 202, ../sass/partials/_burgerDesign.scss */
.header .logo {
  font-size: 2.5rem;
  font-weight: bolder;
  color: #fff;
}
/* line 207, ../sass/partials/_burgerDesign.scss */
.header .logo i {
  padding-right: 0.5rem;
  color: #FFD800;
}
/* line 214, ../sass/partials/_burgerDesign.scss */
.header .navbar a {
  font-size: 1.7rem;
  margin: 0 1rem;
  color: #666;
}
/* line 219, ../sass/partials/_burgerDesign.scss */
.header .navbar a:hover {
  color: #FFD800;
}
/* line 225, ../sass/partials/_burgerDesign.scss */
.header .icons div {
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  font-size: 2rem;
  background: #000000;
  color: #FFD800;
  border-radius: 0.5rem;
  margin-left: 0.3rem;
  cursor: pointer;
  text-align: center;
}
/* line 237, ../sass/partials/_burgerDesign.scss */
.header .icons div:hover {
  color: #000000;
  background: #FFD800;
}

/* line 244, ../sass/partials/_burgerDesign.scss */
#menu-btn {
  display: none;
}

@keyframes fadeUp {
  0% {
    transform: translateY(5rem);
    opacity: 0;
  }
}
/* line 255, ../sass/partials/_burgerDesign.scss */
.search-form-container {
  position: fixed;
  top: 8.5rem;
  left: 0;
  right: 0;
  height: calc(100vh - 8.5rem);
  background: #fff;
  z-index: 1000;
  display: none;
  /*  form{
    height: 7rem;
    border-bottom: .2rem solid $black;
    width: 100%;
    display: flex;
    align-items: center;
    animation: fadeUp .4s linear;

    input{
      height: 100%;
      width: 100%;
      font-size: 1.7rem;
      color:$black;
      text-transform: none;
      padding-right: 1rem;
    }

    label{
      font-size: 3rem;
      cursor: pointer;
      color:$black;

      &:hover{
        color:$colorPrimary;
      }
    }
  } */
}
/* line 265, ../sass/partials/_burgerDesign.scss */
.search-form-container.active {
  display: block;
}

/* line 298, ../sass/partials/_burgerDesign.scss */
.shopping-cart-container {
  position: fixed;
  top: 8.5rem;
  left: 0;
  right: 0;
  z-index: 1000;
  height: calc(100vh - 8.5rem);
  background: #0D0B00;
  overflow-y: scroll;
  padding-bottom: 8rem;
  display: none;
}
/* line 310, ../sass/partials/_burgerDesign.scss */
.shopping-cart-container.active {
  display: block;
}
/* line 314, ../sass/partials/_burgerDesign.scss */
.shopping-cart-container::-webkit-scrollbar {
  width: 1rem;
}
/* line 318, ../sass/partials/_burgerDesign.scss */
.shopping-cart-container::-webkit-scrollbar-track {
  background: #000000;
}
/* line 322, ../sass/partials/_burgerDesign.scss */
.shopping-cart-container::-webkit-scrollbar-thumb {
  background: #FFD800;
  border-radius: 5rem;
}
/* line 327, ../sass/partials/_burgerDesign.scss */
.shopping-cart-container .title {
  font-size: 2.5rem;
  padding: 1rem;
  color: #FFD800;
  border-bottom: 0.1rem solid #666;
  text-align: center;
}
/* line 335, ../sass/partials/_burgerDesign.scss */
.shopping-cart-container .products-container {
  border: 0.1rem solid #666;
  border-radius: 0.5rem;
  animation: fadeUp 0.4s linear;
}
/* line 340, ../sass/partials/_burgerDesign.scss */
.shopping-cart-container .products-container .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
  padding: 1.5rem;
}
/* line 344, ../sass/partials/_burgerDesign.scss */
.shopping-cart-container .products-container .box-container .box {
  border-radius: 0.5rem;
  background: #000000;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding: 2rem;
  position: relative;
}
/* line 353, ../sass/partials/_burgerDesign.scss */
.shopping-cart-container .products-container .box-container .box .a-remove {
  position: absolute;
  top: 0.7rem;
  right: 1rem;
  font-size: 2rem;
  cursor: pointer;
  color: red;
}
/* line 361, ../sass/partials/_burgerDesign.scss */
.shopping-cart-container .products-container .box-container .box .a-remove:hover {
  color: #e04218;
}
/* line 366, ../sass/partials/_burgerDesign.scss */
.shopping-cart-container .products-container .box-container .box img {
  height: 8rem;
}
/* line 371, ../sass/partials/_burgerDesign.scss */
.shopping-cart-container .products-container .box-container .box .content h3 {
  font-size: 2rem;
  color: #fff;
}
/* line 376, ../sass/partials/_burgerDesign.scss */
.shopping-cart-container .products-container .box-container .box .content span {
  font-size: 1.5rem;
  color: #FFD800;
}
/* line 380, ../sass/partials/_burgerDesign.scss */
.shopping-cart-container .products-container .box-container .box .content span.price {
  color: #fff;
  font-size: 1.7rem;
}
/* line 385, ../sass/partials/_burgerDesign.scss */
.shopping-cart-container .products-container .box-container .box .content .number {
  color: #fff;
}
/* line 389, ../sass/partials/_burgerDesign.scss */
.shopping-cart-container .products-container .box-container .box .content input {
  width: 8rem;
  padding: 0.5rem 1.2rem;
  font-size: 1.5rem;
  color: #130f40;
  margin: 0.7rem 0;
}
/* line 401, ../sass/partials/_burgerDesign.scss */
.shopping-cart-container .cart-total {
  margin-top: 2rem;
  border: 0.1rem solid #666;
  border-radius: 0.5rem;
  animation: fadeUp 0.4s linear 0.4s backwards;
}
/* line 407, ../sass/partials/_burgerDesign.scss */
.shopping-cart-container .cart-total .box {
  padding: 1.5rem;
}
/* line 410, ../sass/partials/_burgerDesign.scss */
.shopping-cart-container .cart-total .box h3 {
  color: #130f40;
  font-size: 2rem;
  padding-bottom: 0.7rem;
}
/* line 415, ../sass/partials/_burgerDesign.scss */
.shopping-cart-container .cart-total .box h3 span {
  color: #e04218;
}

/* line 423, ../sass/partials/_burgerDesign.scss */
.login-form-container {
  position: fixed;
  top: 8.5rem;
  left: 0;
  right: 0;
  z-index: 1000;
  height: calc(100vh - 8.5rem);
  background: #fff;
  padding: 0 2rem;
  display: none;
}
/* line 434, ../sass/partials/_burgerDesign.scss */
.login-form-container.active {
  display: block;
}
/* line 438, ../sass/partials/_burgerDesign.scss */
.login-form-container form {
  margin: 2rem auto;
  max-width: 40rem;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.05);
  border: 0.1rem solid #666;
  padding: 2rem;
  border-radius: 0.5rem;
  animation: fadeUp 0.4s linear;
}
/* line 447, ../sass/partials/_burgerDesign.scss */
.login-form-container form h3 {
  padding-bottom: 1rem;
  font-size: 2.5rem;
  text-transform: uppercase;
  color: #130f40;
}
/* line 454, ../sass/partials/_burgerDesign.scss */
.login-form-container form .box {
  margin: 0.7rem 0;
  border-radius: 0.5rem;
  background: #f7f7f7;
  padding: 1rem 1.2rem;
  font-size: 1.6rem;
  color: #130f40;
  text-transform: none;
  width: 100%;
}
/* line 465, ../sass/partials/_burgerDesign.scss */
.login-form-container form .remember {
  padding: 1rem 0;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
/* line 471, ../sass/partials/_burgerDesign.scss */
.login-form-container form .remember label {
  font-size: 1.5rem;
  cursor: pointer;
  color: #666;
}
/* line 478, ../sass/partials/_burgerDesign.scss */
.login-form-container form .btn {
  margin: 1rem 0;
  width: 100%;
  text-align: center;
}
/* line 484, ../sass/partials/_burgerDesign.scss */
.login-form-container form p {
  padding-top: 1rem;
  font-size: 1.5rem;
  color: #666;
}
/* line 489, ../sass/partials/_burgerDesign.scss */
.login-form-container form p a {
  color: #e04218;
}
/* line 492, ../sass/partials/_burgerDesign.scss */
.login-form-container form p a:hover {
  color: #130f40;
  text-decoration: underline;
}

/* line 501, ../sass/partials/_burgerDesign.scss */
.home {
  display: flex;
  align-items: center;
  flex-wrap: wrap-reverse;
  gap: 2rem;
  position: relative;
  overflow: hidden;
}
/* line 509, ../sass/partials/_burgerDesign.scss */
.home .content {
  flex: 1 1 41rem;
}
/* line 512, ../sass/partials/_burgerDesign.scss */
.home .content span {
  font-size: 2rem;
  color: #FFD800;
}
/* line 517, ../sass/partials/_burgerDesign.scss */
.home .content h3 {
  font-size: 4rem;
  color: #fff;
  padding-top: 1rem;
}
/* line 523, ../sass/partials/_burgerDesign.scss */
.home .content p {
  font-size: 1.4rem;
  color: #666;
  line-height: 2;
  padding: 1rem 0;
}
/* line 529, ../sass/partials/_burgerDesign.scss */
.home .content .btn {
  background-color: #FFD800;
  color: #000000;
}
/* line 532, ../sass/partials/_burgerDesign.scss */
.home .content .btn:hover {
  background-color: #000000;
  color: #FFD800;
  border: 2px solid #FFD800;
}
/* line 540, ../sass/partials/_burgerDesign.scss */
.home .image {
  flex: 1 1 41rem;
  margin: 2rem 0;
  pointer-events: none;
}
/* line 545, ../sass/partials/_burgerDesign.scss */
.home .image .home-img {
  width: 100%;
  margin-top: 5rem;
  animation: bounce 3s linear infinite;
  /* referring directly to the animation's @keyframe declaration */
}
/* line 552, ../sass/partials/_burgerDesign.scss */
.home .home-parallax-img {
  position: absolute;
  top: -10rem;
  right: -10rem;
  width: 80vw;
}

/* line 560, ../sass/partials/_burgerDesign.scss */
.category {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 1.5rem;
  padding-bottom: 5rem;
}
/* line 564, ../sass/partials/_burgerDesign.scss */
.category .box {
  padding: 2rem;
  text-align: center;
  border-radius: 0.5rem;
  background: #000000;
  border: 1px solid #FFD800;
  border-radius: 4px;
}
/* line 572, ../sass/partials/_burgerDesign.scss */
.category .box:hover {
  background: #FFD800;
}
/* line 575, ../sass/partials/_burgerDesign.scss */
.category .box:hover h3 {
  color: #000000;
}
/* line 580, ../sass/partials/_burgerDesign.scss */
.category .box img {
  height: 7rem;
}
/* line 584, ../sass/partials/_burgerDesign.scss */
.category .box h3 {
  font-size: 1.8rem;
  color: #fff;
}

/* line 591, ../sass/partials/_burgerDesign.scss */
.about {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 2rem;
  background: #000000;
}
/* line 598, ../sass/partials/_burgerDesign.scss */
.about .image {
  flex: 1 1 40rem;
}
/* line 601, ../sass/partials/_burgerDesign.scss */
.about .image img {
  width: 100%;
}
/* line 605, ../sass/partials/_burgerDesign.scss */
.about .btn {
  background: #FFD800;
  color: #000000;
}
/* line 609, ../sass/partials/_burgerDesign.scss */
.about .content {
  flex: 1 1 40rem;
}
/* line 612, ../sass/partials/_burgerDesign.scss */
.about .content span {
  font-family: "Satisfy", cursive;
  font-size: 3rem;
  color: #e04218;
  color: #FFD800;
}
/* line 617, ../sass/partials/_burgerDesign.scss */
.about .content .title {
  font-size: 3rem;
  padding-top: 0.5rem;
  color: #fff;
}
/* line 623, ../sass/partials/_burgerDesign.scss */
.about .content p {
  padding: 1rem 0;
  line-height: 2;
  font-size: 1.4rem;
  color: #666;
}
/* line 630, ../sass/partials/_burgerDesign.scss */
.about .content .icons-container {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}
/* line 636, ../sass/partials/_burgerDesign.scss */
.about .content .icons-container .icons {
  flex: 1 1 20rem;
  border-radius: 0.5rem;
  background: #000000;
  box-shadow: 11px 19px 55px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  border: 1px solid #FFD800;
}
/* line 647, ../sass/partials/_burgerDesign.scss */
.about .content .icons-container .icons h3 {
  font-size: 1.7rem;
  color: #FFD800;
}

/* line 655, ../sass/partials/_burgerDesign.scss */
.popular {
  background-color: inherit;
}

/* line 659, ../sass/partials/_burgerDesign.scss */
.popular .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}
/* line 662, ../sass/partials/_burgerDesign.scss */
.popular .box-container .box {
  border-radius: 1.5rem;
  position: relative;
  background: #000000;
  padding: 2rem;
  text-align: center;
}
/* line 670, ../sass/partials/_burgerDesign.scss */
.popular .box-container .box .fa-heart {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  font-size: 2.5rem;
  color: #666;
  cursor: pointer;
}
/* line 678, ../sass/partials/_burgerDesign.scss */
.popular .box-container .box .fa-heart:hover {
  color: #e04218;
}
/* line 683, ../sass/partials/_burgerDesign.scss */
.popular .box-container .box .image {
  margin: 1rem 0;
}
/* line 686, ../sass/partials/_burgerDesign.scss */
.popular .box-container .box .image img {
  height: 15rem;
}
/* line 692, ../sass/partials/_burgerDesign.scss */
.popular .box-container .box .content h3 {
  font-size: 2rem;
  color: #fff;
}
/* line 697, ../sass/partials/_burgerDesign.scss */
.popular .box-container .box .content .stars {
  padding: 1rem 0;
  font-size: 1.7rem;
}
/* line 701, ../sass/partials/_burgerDesign.scss */
.popular .box-container .box .content .stars i {
  color: #f7f7f7;
}
/* line 705, ../sass/partials/_burgerDesign.scss */
.popular .box-container .box .content .stars span {
  color: #666;
}
/* line 710, ../sass/partials/_burgerDesign.scss */
.popular .box-container .box .content .price {
  font-size: 2rem;
  color: #FFD800;
}
/* line 714, ../sass/partials/_burgerDesign.scss */
.popular .box-container .box .content .price span {
  font-size: 1.5rem;
  color: #666;
  text-decoration: line-through;
}

/* line 724, ../sass/partials/_burgerDesign.scss */
.banner {
  background: #000000;
}
/* line 726, ../sass/partials/_burgerDesign.scss */
.banner .row-banner {
  /* background: url(../../img/food/row-banner.png) */
}
/* line 730, ../sass/partials/_burgerDesign.scss */
.banner .row-banner .content {
  position: absolute;
  top: 50%;
  left: 7%;
  transform: translateY(-50%);
}
/* line 736, ../sass/partials/_burgerDesign.scss */
.banner .row-banner .content span {
  font-family: "Satisfy", cursive;
  font-size: 4rem;
  color: #e04218;
  color: #130f40;
}
/* line 741, ../sass/partials/_burgerDesign.scss */
.banner .row-banner .content h3 {
  font-size: 6rem;
  color: red;
  text-transform: uppercase;
}
/* line 747, ../sass/partials/_burgerDesign.scss */
.banner .row-banner .content p {
  font-size: 2rem;
  padding-bottom: 1rem;
}
/* line 754, ../sass/partials/_burgerDesign.scss */
.banner .grid-banner {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}
/* line 757, ../sass/partials/_burgerDesign.scss */
.banner .grid-banner .grid {
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
  height: 45rem;
}
/* line 763, ../sass/partials/_burgerDesign.scss */
.banner .grid-banner .grid:hover img {
  transform: scale(1.2);
}
/* line 767, ../sass/partials/_burgerDesign.scss */
.banner .grid-banner .grid img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
/* line 773, ../sass/partials/_burgerDesign.scss */
.banner .grid-banner .grid .content {
  position: absolute;
  top: 2rem;
  padding: 0 2rem;
}
/* line 778, ../sass/partials/_burgerDesign.scss */
.banner .grid-banner .grid .content.center {
  text-align: center;
  width: 100%;
}
/* line 782, ../sass/partials/_burgerDesign.scss */
.banner .grid-banner .grid .content.center span {
  color: #666;
}
/* line 786, ../sass/partials/_burgerDesign.scss */
.banner .grid-banner .grid .content.center h3 {
  color: #130f40;
}
/* line 791, ../sass/partials/_burgerDesign.scss */
.banner .grid-banner .grid .content span {
  font-size: 2.5rem;
  color: #fff;
}
/* line 796, ../sass/partials/_burgerDesign.scss */
.banner .grid-banner .grid .content h3 {
  font-size: 3rem;
  color: #fff;
  padding-top: 0.5rem;
}

/* line 806, ../sass/partials/_burgerDesign.scss */
.menu .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}
/* line 809, ../sass/partials/_burgerDesign.scss */
.menu .box-container .box {
  border-radius: 0.5rem;
  background: #f7f7f7;
  padding: 2rem;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
/* line 817, ../sass/partials/_burgerDesign.scss */
.menu .box-container .box:hover {
  background: #130f40;
}
/* line 820, ../sass/partials/_burgerDesign.scss */
.menu .box-container .box:hover .content h3 {
  color: #fff;
}
/* line 825, ../sass/partials/_burgerDesign.scss */
.menu .box-container .box img {
  height: 10rem;
}
/* line 830, ../sass/partials/_burgerDesign.scss */
.menu .box-container .box .content h3 {
  font-size: 2rem;
  color: #130f40;
  padding-bottom: 0.5rem;
}
/* line 836, ../sass/partials/_burgerDesign.scss */
.menu .box-container .box .content .price {
  font-size: 1.8rem;
  color: #e04218;
}

/* line 845, ../sass/partials/_burgerDesign.scss */
.order .icons-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
  margin-bottom: 2rem;
}
/* line 849, ../sass/partials/_burgerDesign.scss */
.order .icons-container .icons {
  border-radius: 0.5rem;
  padding: 2rem;
  text-align: center;
  background: #000000;
}
/* line 855, ../sass/partials/_burgerDesign.scss */
.order .icons-container .icons img {
  height: 10rem;
}
/* line 859, ../sass/partials/_burgerDesign.scss */
.order .icons-container .icons h3 {
  font-size: 2rem;
  color: #FFD800;
  margin-top: 0.5rem;
}
/* line 867, ../sass/partials/_burgerDesign.scss */
.order form {
  background: #f7f7f7;
  padding: 2rem;
  border-radius: 0.5rem;
}
/* line 872, ../sass/partials/_burgerDesign.scss */
.order form .flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
/* line 877, ../sass/partials/_burgerDesign.scss */
.order form .flex .inputBox {
  width: 49%;
  padding: 0.7rem 0;
}
/* line 882, ../sass/partials/_burgerDesign.scss */
.order form .flex span {
  font-size: 1.7rem;
  color: #666;
}
/* line 887, ../sass/partials/_burgerDesign.scss */
.order form .flex input,
.order form .flex textarea {
  width: 100%;
  margin-top: 0.5rem;
  padding: 1rem 1.2rem;
  width: 100%;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  text-transform: none;
  color: #130f40;
}
/* line 899, ../sass/partials/_burgerDesign.scss */
.order form .flex textarea {
  height: 20rem;
  resize: none;
}
/* line 904, ../sass/partials/_burgerDesign.scss */
.order form .flex .map {
  height: 100%;
  width: 100%;
  border-radius: 0.5rem;
}

/* line 914, ../sass/partials/_burgerDesign.scss */
.blogs .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}
/* line 917, ../sass/partials/_burgerDesign.scss */
.blogs .box-container .box {
  border-radius: 0.5rem;
  overflow: hidden;
}
/* line 923, ../sass/partials/_burgerDesign.scss */
.blogs .box-container .box:hover .image h3 {
  left: 1.5rem;
}
/* line 927, ../sass/partials/_burgerDesign.scss */
.blogs .box-container .box:hover .image img {
  transform: scale(1.1);
}
/* line 933, ../sass/partials/_burgerDesign.scss */
.blogs .box-container .box .image {
  position: relative;
  height: 25rem;
  overflow: hidden;
  width: 100%;
}
/* line 939, ../sass/partials/_burgerDesign.scss */
.blogs .box-container .box .image h3 {
  position: absolute;
  z-index: 10;
  top: 1rem;
  left: -100%;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  background: #fff;
  color: #130f40;
  font-size: 1.5rem;
}
/* line 950, ../sass/partials/_burgerDesign.scss */
.blogs .box-container .box .image h3 i {
  padding-right: 0.5rem;
  color: #e04218;
}
/* line 956, ../sass/partials/_burgerDesign.scss */
.blogs .box-container .box .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
/* line 963, ../sass/partials/_burgerDesign.scss */
.blogs .box-container .box .content {
  padding: 2rem 1.5rem;
  background: #f7f7f7;
}
/* line 967, ../sass/partials/_burgerDesign.scss */
.blogs .box-container .box .content .tags {
  padding-bottom: 1rem;
}
/* line 970, ../sass/partials/_burgerDesign.scss */
.blogs .box-container .box .content .tags a {
  font-size: 1.5rem;
  color: #666;
  padding-right: 0.5rem;
}
/* line 975, ../sass/partials/_burgerDesign.scss */
.blogs .box-container .box .content .tags a:hover {
  color: #e04218;
}
/* line 979, ../sass/partials/_burgerDesign.scss */
.blogs .box-container .box .content .tags a i {
  color: #e04218;
  padding-right: 0.5rem;
}
/* line 986, ../sass/partials/_burgerDesign.scss */
.blogs .box-container .box .content h3 {
  font-size: 2rem;
  color: #130f40;
}
/* line 991, ../sass/partials/_burgerDesign.scss */
.blogs .box-container .box .content p {
  font-size: 1.4rem;
  color: #666;
  padding: 1rem 0;
  line-height: 2;
}

/* line 1002, ../sass/partials/_burgerDesign.scss */
.footer {
  background: #000000;
}
/* line 1005, ../sass/partials/_burgerDesign.scss */
.footer .newsletter {
  text-align: center;
  margin-bottom: 2rem;
}
/* line 1009, ../sass/partials/_burgerDesign.scss */
.footer .newsletter h3 {
  font-size: 2.5rem;
  color: #130f40;
  padding-bottom: 1rem;
}
/* line 1015, ../sass/partials/_burgerDesign.scss */
.footer .newsletter form {
  max-width: 70rem;
  margin: 1rem auto;
  max-width: 70rem;
  display: flex;
  border-radius: 0.5rem;
  overflow: hidden;
}
/* line 1023, ../sass/partials/_burgerDesign.scss */
.footer .newsletter form input[type="email"] {
  height: 100%;
  width: 100%;
  padding: 1rem 1.2rem;
  font-size: 1.6rem;
  color: #130f40;
  text-transform: none;
}
/* line 1032, ../sass/partials/_burgerDesign.scss */
.footer .newsletter form input[type="submit"] {
  padding: 0 2rem;
  font-size: 1.6rem;
  color: #fff;
  background: #e04218;
  cursor: pointer;
}
/* line 1039, ../sass/partials/_burgerDesign.scss */
.footer .newsletter form input[type="submit"]:hover {
  background: #130f40;
}
/* line 1046, ../sass/partials/_burgerDesign.scss */
.footer .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}
/* line 1050, ../sass/partials/_burgerDesign.scss */
.footer .box-container .box h3 {
  font-size: 2.2rem;
  color: #FFD800;
  padding: 1rem 0;
}
/* line 1056, ../sass/partials/_burgerDesign.scss */
.footer .box-container .box p {
  font-size: 1.4rem;
  color: #666;
  padding: 1rem 0;
}
/* line 1062, ../sass/partials/_burgerDesign.scss */
.footer .box-container .box a {
  display: block;
  font-size: 1.4rem;
  color: #666;
  padding: 1rem 0;
}
/* line 1068, ../sass/partials/_burgerDesign.scss */
.footer .box-container .box a:hover {
  color: #FFD800;
}
/* line 1071, ../sass/partials/_burgerDesign.scss */
.footer .box-container .box a:hover i {
  padding-right: 2rem;
}
/* line 1076, ../sass/partials/_burgerDesign.scss */
.footer .box-container .box a i {
  padding-right: 0.5rem;
  color: #FFD800;
}
/* line 1084, ../sass/partials/_burgerDesign.scss */
.footer .bottom {
  padding-top: 1rem;
  text-align: center;
}
/* line 1088, ../sass/partials/_burgerDesign.scss */
.footer .bottom .share {
  margin: 1.5rem 0;
}
/* line 1091, ../sass/partials/_burgerDesign.scss */
.footer .bottom .share a {
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  font-size: 2rem;
  border-radius: 0.5rem;
  margin: 0 0.3rem;
  background: #000000;
  color: #FFD800;
}
/* line 1102, ../sass/partials/_burgerDesign.scss */
.footer .bottom .share a:hover {
  color: #000000;
  background: #FFD800;
}
/* line 1109, ../sass/partials/_burgerDesign.scss */
.footer .bottom .credit {
  font-size: 2rem;
  color: #fff;
  padding: 1rem;
}
/* line 1114, ../sass/partials/_burgerDesign.scss */
.footer .bottom .credit span {
  color: #FFD800;
}

@media (max-width: 991px) {
  /* line 1124, ../sass/partials/_burgerDesign.scss */
  html {
    font-size: 55%;
  }

  /* line 1128, ../sass/partials/_burgerDesign.scss */
  .header {
    padding: 2rem;
  }

  /* line 1132, ../sass/partials/_burgerDesign.scss */
  section {
    padding: 2rem;
  }
}
@media (max-width: 768px) {
  /* line 1138, ../sass/partials/_burgerDesign.scss */
  #menu-btn {
    display: inline-block;
  }

  /* line 1142, ../sass/partials/_burgerDesign.scss */
  .header .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: #fff;
    border-top: 0.1rem solid #666;
    border-bottom: 0.1rem solid #666;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  /* line 1152, ../sass/partials/_burgerDesign.scss */
  .header .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  /* line 1156, ../sass/partials/_burgerDesign.scss */
  .header .navbar a {
    font-size: 2rem;
    margin: 2rem;
    display: block;
  }

  /* line 1163, ../sass/partials/_burgerDesign.scss */
  .home .home-parallax-img {
    top: 0;
    right: 0;
    width: 130%;
  }

  /* line 1169, ../sass/partials/_burgerDesign.scss */
  .order form .flex .inputBox {
    width: 100%;
  }
}
@media (max-width: 450px) {
  /* line 1175, ../sass/partials/_burgerDesign.scss */
  html {
    font-size: 50%;
  }

  /* line 1180, ../sass/partials/_burgerDesign.scss */
  .shopping-cart-container .cart-total .box {
    text-align: center;
  }
  /* line 1183, ../sass/partials/_burgerDesign.scss */
  .shopping-cart-container .cart-total .box .btn {
    width: 100%;
  }

  /* line 1190, ../sass/partials/_burgerDesign.scss */
  .home .content h3 {
    font-size: 3rem;
  }
  /* line 1193, ../sass/partials/_burgerDesign.scss */
  .home .content p {
    font-size: 1.5rem;
  }
}
/* line 1200, ../sass/partials/_burgerDesign.scss */
.content-table {
  align-items: center;
  justify-content: center;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 100%;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
}

/* line 1211, ../sass/partials/_burgerDesign.scss */
.card-add {
  background-color: #000000;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 21px -4px 145px rgba(159, 159, 159, 0.49);
}
/* line 1216, ../sass/partials/_burgerDesign.scss */
.card-add label {
  color: #fff;
}
/* line 1220, ../sass/partials/_burgerDesign.scss */
.card-add input, .card-add select {
  border: 2px solid #FFD800;
  border-radius: 4px;
  width: 100%;
  height: 50px;
  background-color: #666;
  color: #fff;
  padding: 16px;
  font-size: 14px;
}
/* line 1230, ../sass/partials/_burgerDesign.scss */
.card-add select {
  border: 2px solid #FFD800;
  border-radius: 4px;
  width: 100%;
  height: 50px;
  background-color: #666;
  color: #fff;
  padding: 4px;
  font-size: 14px;
}
/* line 1239, ../sass/partials/_burgerDesign.scss */
.card-add select option {
  color: #000000;
  background-color: #fff;
}
/* line 1243, ../sass/partials/_burgerDesign.scss */
.card-add select option:hover {
  color: #000000;
  background-color: #fff;
}
/* line 1252, ../sass/partials/_burgerDesign.scss */
.card-add .btn {
  width: 25%;
}

/* line 1256, ../sass/partials/_burgerDesign.scss */
.div-content {
  scroll-padding-top: 6.5rem;
  background-color: #000000;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 21px -4px 145px rgba(159, 159, 159, 0.49);
}
/* line 1264, ../sass/partials/_burgerDesign.scss */
.div-content::-webkit-scrollbar {
  width: 1rem;
}
/* line 1268, ../sass/partials/_burgerDesign.scss */
.div-content::-webkit-scrollbar-track {
  background: #fff;
}
/* line 1272, ../sass/partials/_burgerDesign.scss */
.div-content::-webkit-scrollbar-thumb {
  background: #FFD800;
  border-radius: 5rem;
}

/* line 1277, ../sass/partials/_burgerDesign.scss */
.content-table thead tr {
  background-color: rgba(159, 159, 159, 0.49);
  color: #FFD800;
  text-align: left;
  font-weight: bold;
}

/* line 1284, ../sass/partials/_burgerDesign.scss */
.content-table th,
.content-table td {
  padding: 15px 18px;
}

/* line 1290, ../sass/partials/_burgerDesign.scss */
.content-table tbody tr td {
  color: rgba(227, 227, 227, 0.49);
}

/* line 1295, ../sass/partials/_burgerDesign.scss */
.form-filtre {
  margin-bottom: 18px;
}
/* line 1297, ../sass/partials/_burgerDesign.scss */
.form-filtre select, .form-filtre input {
  height: 40px;
  border: #FFD800 2px solid;
  background-color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  font-size: 16px;
}

/* line 1306, ../sass/partials/_burgerDesign.scss */
.content-table tbody tr {
  border-bottom: 1px solid #FFD800;
}

/* line 1309, ../sass/partials/_burgerDesign.scss */
.pay-check {
  cursor: pointer;
}

/* line 1312, ../sass/partials/_burgerDesign.scss */
.content-table tbody tr:nth-of-type(even) {
  background-color: rgba(159, 159, 159, 0.49);
}

/* line 1316, ../sass/partials/_burgerDesign.scss */
.content-table tbody tr:last-of-type {
  border-bottom: 1px solid #FFD800;
}

/* line 1320, ../sass/partials/_burgerDesign.scss */
.content-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}

/* line 1326, ../sass/partials/_burgerDesign.scss */
.form-filtre label {
  color: #ffff;
}

/* line 1332, ../sass/partials/_burgerDesign.scss */
.form-label label {
  margin: 4px;
}

/* line 4, ../sass/partials/_form.scss */
.body {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* line 9, ../sass/partials/_form.scss */
.c1 {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* line 12, ../sass/partials/_form.scss */
.invalid-feedback, small {
  color: #dc3545;
  padding: 2px;
  margin-top: 1%;
  font-size: 15px;
}

/* line 18, ../sass/partials/_form.scss */
.container {
  margin-top: 3%;
  /* background-color: #fff; */
  border-radius: 5px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
/* line 26, ../sass/partials/_form.scss */
.container .btnaddChambre, .container .btnDelete {
  background-color: #e04218;
  /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  padding: 10px;
  cursor: pointer;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
/* line 38, ../sass/partials/_form.scss */
.container .btnDelete {
  background-color: #dc3545;
  /* Green */
  margin-top: 15px;
}

/* line 44, ../sass/partials/_form.scss */
.container-login .form-control input, .form-control .input, .etu .input, .form-control select, .etu select {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  display: block;
  width: 100%;
  height: 50px;
  background-color: #f6f6f6;
  padding: 10px;
  font-size: 14px;
}

/* line 54, ../sass/partials/_form.scss */
.container-register {
  margin-top: 5%;
}
/* line 58, ../sass/partials/_form.scss */
.container-register form {
  background: #f7f7f7;
  padding: 2rem;
  border-radius: .5rem;
}
/* line 63, ../sass/partials/_form.scss */
.container-register form .flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
/* line 68, ../sass/partials/_form.scss */
.container-register form .flex .inputBox {
  width: 49%;
  padding: .7rem 0;
}
/* line 73, ../sass/partials/_form.scss */
.container-register form .flex span {
  font-size: 1.7rem;
  color: #666;
}
/* line 78, ../sass/partials/_form.scss */
.container-register form .flex input, .container-register form .flex textarea {
  width: 100%;
  margin-top: .5rem;
  padding: 1rem 1.2rem;
  width: 100%;
  border-radius: .5rem;
  font-size: 1.6rem;
  text-transform: none;
  color: #130f40;
}
/* line 89, ../sass/partials/_form.scss */
.container-register form .flex textarea {
  height: 20rem;
  resize: none;
}
/* line 94, ../sass/partials/_form.scss */
.container-register form .flex .map {
  height: 100%;
  width: 100%;
  border-radius: .5rem;
}

/* line 102, ../sass/partials/_form.scss */
.container-login {
  border-radius: 5px;
  width: 50%;
  margin-top: 10%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: #fff;
  color: #000;
}
/* line 109, ../sass/partials/_form.scss */
.container-login .line {
  float: right;
  margin-right: 4%;
  margin-top: 1%;
}
/* line 113, ../sass/partials/_form.scss */
.container-login .line a {
  color: #e04218;
}
/* line 119, ../sass/partials/_form.scss */
.container-login .form-control .label {
  color: #ffff;
}
/* line 122, ../sass/partials/_form.scss */
.container-login .form-control input {
  background-color: #f6f6f6;
  /*  border: 2px solid $colorPrimary   ; */
  /* border-bottom: #39ACE7 2px solid; */
  color: #777;
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  width: 100%;
  height: 60px;
  background-color: #f6f6f6;
  padding: 10px;
  font-size: 14px;
}

/* line 138, ../sass/partials/_form.scss */
h2 {
  text-align: center;
  margin: 0 0 20px;
}

/* line 143, ../sass/partials/_form.scss */
.form {
  padding: 30px 40px;
}

/* line 147, ../sass/partials/_form.scss */
.form-control {
  margin-bottom: 8px;
  padding-bottom: 2px;
  position: relative;
}
/* line 151, ../sass/partials/_form.scss */
.form-control div {
  margin-bottom: 8px;
}
/* line 154, ../sass/partials/_form.scss */
.form-control ul li {
  color: red;
  font-size: 14px;
}

/* line 159, ../sass/partials/_form.scss */
.color1 {
  color: #e04218;
}

/* line 162, ../sass/partials/_form.scss */
.form-control label, .form-control2 label, .checkbox .check, .checkbox .label, .etu small {
  display: block;
  margin-bottom: 5px;
}

/* line 166, ../sass/partials/_form.scss */
.form-control label {
  color: #777;
}

/* line 171, ../sass/partials/_form.scss */
.form-control .input {
  /*  border-bottom: $colorPrimary 3px solid; */
}

/* line 175, ../sass/partials/_form.scss */
.fc2 {
  display: flex;
  justify-content: space-around;
}

/* line 179, ../sass/partials/_form.scss */
.form-control2 input {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  width: 100%;
  height: 40px;
  background-color: #f6f6f6;
  padding: 16px;
  font-size: 14px;
}

/* line 189, ../sass/partials/_form.scss */
.form-control2 label {
  margin-bottom: 10px;
}

/* line 193, ../sass/partials/_form.scss */
.form-control2 select {
  display: block;
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  height: 60px;
  background-color: #f6f6f6;
  padding: 16px;
  font-size: 14px;
  outline: 0;
  width: 90%;
  margin-left: 4.8%;
}

/* line 205, ../sass/partials/_form.scss */
.checkbox {
  position: relative;
}

/* line 209, ../sass/partials/_form.scss */
form .row {
  display: flex;
}
/* line 211, ../sass/partials/_form.scss */
form .row .etu {
  flex: 1;
}

/* line 215, ../sass/partials/_form.scss */
.etu .input {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  display: block;
  width: 100%;
  height: 60px;
  background-color: #f6f6f6;
  padding: 10px;
  font-size: 14px;
}

/* line 226, ../sass/partials/_form.scss */
.checkbox .check {
  display: flex;
  margin-top: 2%;
}
/* line 229, ../sass/partials/_form.scss */
.checkbox .check input {
  margin-left: 1%;
  margin-top: 2px;
}
/* line 234, ../sass/partials/_form.scss */
.checkbox .check label {
  width: 100%;
  margin-left: 1%;
}

/* line 243, ../sass/partials/_form.scss */
.form-control select {
  border-bottom: #e04218 3px solid;
  outline: 0;
}

/* line 250, ../sass/partials/_form.scss */
.etu select {
  outline: 0;
}

/* line 254, ../sass/partials/_form.scss */
.form-control .input:focus {
  outline: 0;
  border-color: #e04218;
}

/* line 258, ../sass/partials/_form.scss */
.checkbox.success input, .checkbox.error input, .form-control.success input, .form-control.success select {
  border-color: green;
}

/* line 261, ../sass/partials/_form.scss */
.form-control.error select, .form-control.error input {
  border-color: red;
}

/* line 282, ../sass/partials/_form.scss */
.etu.success input {
  border-color: green;
}

/* line 285, ../sass/partials/_form.scss */
.etu.error input {
  border-color: red;
}

/* line 288, ../sass/partials/_form.scss */
.form-control small {
  color: red;
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
}

/* line 297, ../sass/partials/_form.scss */
.etu small {
  color: red;
}

/* line 301, ../sass/partials/_form.scss */
.form-control.error small {
  visibility: visible;
}

/* line 305, ../sass/partials/_form.scss */
.form button {
  cursor: pointer;
  background-color: #e04218;
  border: 2px solid #e04218;
  border-radius: 4px;
  color: #fff;
  margin-right: auto;
  margin-left: auto;
  display: block;
  font-size: 16px;
  padding: 10px;
  margin-top: 20px;
  width: 30%;
  box-shadow: #e04218 0px 7px 29px 0px;
}

/*  .form button:hover{
     background-color: #39ACE7;
     border: 2px solid #39ACE7;

 } */
/*  .form .btn-login{
    cursor: pointer;
    background-color: $colorPrimary;
    border: 2px solid $colorPrimary;
    border-radius: 4px;
    color: #fff;
    margin-left: auto;
    display: block;
    font-size: 16px;
    padding: 10px;
    margin-top: 20px;
    width: 30%;
    box-shadow: $shadow2;
 } */
/* line 340, ../sass/partials/_form.scss */
.register {
  display: flex;
  justify-content: space-around;
}

@media only screen and (max-width: 768px) {
  /* line 346, ../sass/partials/_form.scss */
  .form button {
    cursor: pointer;
    background-color: #e04218;
    border: 2px solid #e04218;
    border-radius: 4px;
    color: #fff;
    margin-right: auto;
    margin-left: auto;
    display: block;
    font-size: 16px;
    padding: 10px;
    margin-top: 20px;
    width: 100%;
    box-shadow: #e04218 0px 7px 29px 0px;
  }

  /* line 361, ../sass/partials/_form.scss */
  .container-login {
    width: 80%;
    margin-top: 15%;
  }
  /* line 365, ../sass/partials/_form.scss */
  .container-login .form-control .label {
    color: #39ace7;
  }
}
/* line 2, ../sass/partials/itemsPaginate.scss */
.p {
  display: flex;
  justify-content: right;
  margin-top: 2%;
}

/* line 7, ../sass/partials/itemsPaginate.scss */
.pagination {
  display: flex;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* line 13, ../sass/partials/itemsPaginate.scss */
.pagination a {
  float: left;
  display: flex;
  padding: 10px 18px;
  text-decoration: none;
  border-radius: 5px;
}

/* line 20, ../sass/partials/itemsPaginate.scss */
.pagination a:not(.laquo) {
  color: #000;
}

/* line 23, ../sass/partials/itemsPaginate.scss */
.laquo {
  background: #FFD800;
  color: #fff;
}

/* line 27, ../sass/partials/itemsPaginate.scss */
.pagination a:not(.activ) {
  background-color: #666;
  border: 2px solid #000;
  color: #000;
}

/* line 32, ../sass/partials/itemsPaginate.scss */
.activ {
  background: #FFD800;
  border: 2px solid #FFD800;
}

/* line 38, ../sass/partials/itemsPaginate.scss */
.pagination a:hover:not(.activ) {
  background-color: #FFD800;
  color: #fff;
}

/* @import "partials/menu";
@import "partials/cadreShadow";
@import "partials/burgerDesign";
@import "partials/variables";
@import "partials/btn";
@import "partials/form";
@import "partials/itemsPaginate.scss"; */
/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,500&family=Roboto+Mono&display=swap');
 */
/* line 24, ../sass/screen.scss */
.product-container {
  background-color: #f9f7ec;
}
/* line 26, ../sass/screen.scss */
.product-container .card-product {
  background-color: #fff;
}
/* line 28, ../sass/screen.scss */
.product-container .card-product .card-body {
  border-radius: 16px;
}
/* line 31, ../sass/screen.scss */
.product-container .card-product img {
  cursor: pointer;
}
/* line 34, ../sass/screen.scss */
.product-container .card-product:hover {
  background-color: #e04218;
  color: #000;
}
/* line 37, ../sass/screen.scss */
.product-container .card-product:hover .btn-primary {
  background-color: #fff;
  border: #e04218;
  color: #e04218;
}
/* line 44, ../sass/screen.scss */
.product-container .card-product:hover .card-title {
  color: #fff;
}
/* line 47, ../sass/screen.scss */
.product-container .card-product:hover .card-text {
  color: #000;
}

/* line 53, ../sass/screen.scss */
.card {
  border: none;
}

/* line 57, ../sass/screen.scss */
.btn-primary {
  background-color: #e04218;
  border: #e04218;
}
/* line 60, ../sass/screen.scss */
.btn-primary:hover {
  background-color: #e04218;
  border: #e04218;
}

@media (min-width: 800px) {
  /* line 66, ../sass/screen.scss */
  .card-product {
    width: 18rem;
  }
}
/* line 74, ../sass/screen.scss */
.nav-item a {
  color: #e04218;
}

/* line 80, ../sass/screen.scss */
.navbar-brand {
  background-color: #e04218;
  padding: 4px;
  color: #fff;
}

/* line 87, ../sass/screen.scss */
ol, ul, li, a {
  list-style: none;
  text-decoration: none;
}

/* line 92, ../sass/screen.scss */
.action {
  color: #000;
}
/* line 94, ../sass/screen.scss */
.action .fa-archive {
  color: #dc3545;
}
/* line 97, ../sass/screen.scss */
.action .fa-edit {
  color: #ffec43;
}
/* line 100, ../sass/screen.scss */
.action:hover {
  color: #000;
}

/* line 105, ../sass/screen.scss */
.bc-primary {
  background-color: #e04218;
}

/* line 108, ../sass/screen.scss */
.c-primary {
  color: #e04218;
}

/* line 111, ../sass/screen.scss */
.c-green {
  color: green;
}

/* line 114, ../sass/screen.scss */
.c-edit {
  color: #ffec43;
}

/* line 117, ../sass/screen.scss */
.bc-secondary {
  background-color: #f9f7ec;
  color: #e04218;
}

/* line 122, ../sass/screen.scss */
table tr {
  border-bottom: #f9f7ec;
}
/* line 126, ../sass/screen.scss */
table .thbottom {
  padding: 1%;
}
/* line 129, ../sass/screen.scss */
table tr:last-child {
  border-bottom: #e04218;
}
/* line 132, ../sass/screen.scss */
table tr:nth-child(even) {
  background-color: #f9f7ec;
}

/* line 139, ../sass/screen.scss */
nav .pagination .active {
  background-color: #e04218;
  color: #fff;
}
/* line 142, ../sass/screen.scss */
nav .pagination .active:hover {
  background-color: #e04218;
  color: #fff;
}
/* line 147, ../sass/screen.scss */
nav .pagination .active2 {
  background-color: #f9f7ec;
  color: #e04218;
  border: #e04218 2px solid;
}
/* line 151, ../sass/screen.scss */
nav .pagination .active2:hover {
  background-color: #f9f7ec;
  color: #e04218;
}
/* line 156, ../sass/screen.scss */
nav .pagination .notactive {
  background-color: #fff;
  color: #e04218;
}
/* line 159, ../sass/screen.scss */
nav .pagination .notactive:hover {
  background-color: #fff;
  color: #e04218;
}

/* line 169, ../sass/screen.scss */
.card {
  border: none;
}

/* line 172, ../sass/screen.scss */
body {
  font-size: 18px;
}

/* line 176, ../sass/screen.scss */
.loader-spiner {
  /*   opacity: 0;
    display: flex;
    position: fixed;
    bottom: 50px;
    transition: opacity 0.7s ease-in; */
  display: flex;
  background-color: #f9f7ec;
}

/* line 186, ../sass/screen.scss */
.loader.show {
  opacity: 1;
}

/* .circle{
    background-color: red;
    width: 10px;
    height: 10px;
    margin: 5px;
    border-radius: 50%;
}

.circle:nth-of-type(2){
    animation-delay:0.3s;
}

.circle:nth-of-type(3){
    animation-delay:0.5s;
}



.circle:nth-child(1) {
    background-color: #fff;
  }
  .circle:nth-child(2) {
    background-color: #fff;
  }
  .circle:nth-child(3) {
    background-color: #fff;
  }

  
 
  

   */
@keyframes animateLoader3 {
  0% {
    transform: scale(1);
    width: 5px;
    height: 5px;
  }
  50% {
    transform: scale(1.5);
    width: 5px;
    height: 5px;
  }
  75% {
    transform: scale(2);
    width: 5px;
    height: 5px;
  }
  80%,
     100% {
    opacity: 0.5;
    width: 5px;
    height: 5px;
  }
}
@keyframes animate {
  0%,100% {
    transform: translateY(0px);
    background-color: red;
    width: 5px;
    height: 5px;
    animation: animate__rotateIn;
  }
  30% {
    transform: translateY(-1px);
    background-color: #a90000;
    width: 10px;
    height: 10px;
  }
  50% {
    transform: translateY(-1px);
    background-color: #070982;
    width: 15px;
    height: 15px;
  }
  80% {
    transform: translateY(-1px);
    background-color: #009118;
    width: 10px;
    height: 10px;
  }
}
