<!DOCTYPE html>
<html lang="en"  xmlns="http://www.thymeleaf.org/">
<head th:replace="fragments/base :: head">
    
</head>
<body>
    <header th:replace="fragments/base :: header"></header>
  <!-- home section starts  -->
	<section class="retour" id="">
		<a href="">
			<i class="fa-solid fa-reply fa-1x"></i>
		</a>
	</section>
	<section class="home" id="home"></div>
	<div class="image">
		<img src="" alt="" class="home-img">

	</div>
	<div class="content">
		<span>type food</span>
		<h3>nom
			😋</h3>
		<p>
			


			Omnis unde dolores temporibus hic quam debitis tenetur harum nemo.
			Omnis unde dolores temporibus hic quam debitis tenetur harum nemo.</p>
			

		<div class="stars">
			<i class="fas fa-star"></i>
			<i class="fas fa-star"></i>
			<i class="fas fa-star"></i>
			<i class="fas fa-star"></i>
			<i class="fas fa-star-half-alt"></i>

		</div>
	
		<a href="" class="btn panier">
			<i class="fa-solid fa-cart-plus"></i>
			ajouter
		</a>
	</div>


</section>



    <div th:replace="fragments/base :: footer"></div>

</body>
</html>