/* line 2, ../../sass/partials/itemsPaginate.scss */
.p {
  display: flex;
  justify-content: right;
  margin-top: 2%;
}

/* line 7, ../../sass/partials/itemsPaginate.scss */
.pagination {
  display: flex;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* line 13, ../../sass/partials/itemsPaginate.scss */
.pagination a {
  float: left;
  display: flex;
  padding: 10px 18px;
  text-decoration: none;
  border-radius: 5px;
}

/* line 20, ../../sass/partials/itemsPaginate.scss */
.pagination a:not(.laquo) {
  color: #000;
}

/* line 23, ../../sass/partials/itemsPaginate.scss */
.laquo {
  background: #FFD800;
  color: #fff;
}

/* line 27, ../../sass/partials/itemsPaginate.scss */
.pagination a:not(.activ) {
  background-color: #666;
  border: 2px solid #000;
  color: #000;
}

/* line 32, ../../sass/partials/itemsPaginate.scss */
.activ {
  background: #FFD800;
  border: 2px solid #FFD800;
}

/* line 38, ../../sass/partials/itemsPaginate.scss */
.pagination a:hover:not(.activ) {
  background-color: #FFD800;
  color: #fff;
}
