$shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
$shadow-connexion: #195777 0px 7px 20px 0px;
$shadow2: #e04218 0px 7px 29px 0px;
$shadowUp: #ffec43 0px 7px 19px 0px;
$shadowArc: #dc3545 0px 7px 19px 0px;
$shadowBlack: 21px -4px 145px rgba(159, 159, 159, 0.49);


$colorRed:#dc3545;
$colorPrimary:#e04218;
$colorThird:#F9F7EC;
$succes: green;
$error: red;
$color2:#ff9409;
$colorYellow:#ffec43;
$product-container-color:rgba(249, 247, 236, 1);
$blackBlack :#000000;
$colorYellow2:#FFD800;

