@import "variables";
.p{
    display: flex;
    justify-content: right;
    margin-top: 2%;
}
.pagination {
  display: flex;

  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.pagination a {
  float: left;
  display: flex;
  padding: 10px 18px;
  text-decoration: none;
  border-radius: 5px;
}
.pagination a:not(.laquo){
  color: #000;
}
.laquo{
    background: $colorYellow2;
    color: #fff;
}
.pagination a:not(.activ){
  background-color: #666;
  border: 2px solid #000;
  color: #000;
}
 .activ {
  background: $colorYellow2;
  border: 2px solid $colorYellow2;

}

.pagination a:hover:not(.activ) {background-color: $colorYellow2;color: #fff;}