<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org/">
  <head th:replace="fragments/base :: head">
   
  </head>
  <body>
    <!-- header section starts  -->

    <header id="header none" class="header" th:replace="fragments/base :: header">
     
    </header>
    <style>
       
        
        .page-link{
            cursor: pointer;
            font-size: 15px;
        }
    </style>
    <!-- header section ends  -->

    <!-- liste section -->
    <section class="popular" id="popular">

        <div class="heading">
            <span>Liste des produits</span>
        </div>

        <div class="row mb-2">
            <div class="col-md-8 ">
                <a name="" id="" style="margin-bottom: -51px;" class="btn" th:href="@{/food-add}" role="button">Ajouter <i class="fas fa-plus "></i></a>
            </div>
            <div class="col-md-4 ">
                <div
                    class="form-filtre ">
                        <label class="mb-2">Filter les produits : </label>
                        <select class="form-select" id="typeFood" aria-label="Default select example">
                            <option value="burger" selected  >burger</option>
                            <option value="menu"  >menu</option>
                            <option value="frite"  >frite</option>
                            <option value="boisson"  >boisson</option>
                            
                        </select>
                    </div>
                   
                </div>
        </div>
        <div class="div-content" style="overflow-x: auto;">
            <table class="content-table">
               <!--  <a disabled class="btn" id="check-all">Tout cocher
                    <i class="fa fa-check" aria-hidden="true"></i>
                </a> -->
                <thead>
                    <tr>
                        <th></th>
                        <th>image</th>
                        <th>Nom</th>
                        <th>Prix(FCFA)</th>
                        <th>Type</th>
                        <th>Action</th>
                    </tr>
                </thead>

                <tbody id="allfoods">  
                </tbody>
                
            </table>
            
                <nav aria-label="...">
                    <ul class="pagination" id="pagination">
                     
                    </ul>
                  </nav>
          
        </div>
      
    
</section>
    <!-- end liste section -->
    <script th:src="@{js/menu.js}"></script>
    <script th:src="@{js/foodPaginated.js}"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    
  </body>
</html>